@model Category

<form method="post" runat="server">
    <label asp-for="CategoryId"></label>
    <input asp-for="CategoryId" class="form-control" />
    <label asp-for="CategoryName"></label>
    <input asp-for="CategoryName" class="form-control" />
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="text-decoration-none" asp-controller="Category" asp-action="Read">Back To List</a>
</form>